# requirements.txt
fastapi==0.68.1
uvicorn==0.15.0
sentence-transformers==2.2.2
huggingface_hub==0.15.1
numpy==1.21.0
scipy==1.9.3  # Version compatible avec Python 3.10
sqlalchemy==1.4.23
transformers==4.34.0
torch==2.1.0
pydantic==1.10.13
python-multipart==0.0.6
streamlit==1.28.0
python-dotenv==1.0.0